@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Roboto:ital,wght@1,900&display=swap");

.first {
  transform-style: preserve-3d;
  transform: translateZ(-1rem) scale(2);
  will-change: auto;
  animation: pop-up 0.5s ease-in-out;
  min-height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    padding: 0 1rem;
    margin-top: -4rem;
    width: min(100%, 50rem);
    text-align: center;

    h1 {
      margin: 0;
      margin-bottom: 2rem;
      font-family: "Lato", sans-serif;
      font-size: 3.5rem;
      letter-spacing: -0.5px;
      background: linear-gradient(45deg, #21d4fd, #b721ff);
      background-size: 200% auto;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradient 5s ease-in-out infinite;

      @media (max-width: 600px) {
        font-size: 3rem;
      }

      &::selection {
        -webkit-text-fill-color: white;
        color: white;
        background: var(--main-color);
      }
    }

    p {
      animation-delay: 1s;
      font-size: 1.1rem;
      margin-bottom: 2rem;
      line-height: 130%;

      @media (max-width: 600px) {
        font-size: 1rem;
      }
    }

    .action {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
    }

    svg {
      display: block;
      cursor: pointer;
      margin: 0.5rem auto 0 auto;
      font-size: 1.5rem;
      animation: shake 1s ease-in-out infinite;
    }
  }
}

@keyframes pop-up {
  0% {
    opacity: 0;
    translate: 0 5%;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes shake {
  0% {
    translate: 0 0.5rem;
  }
  50% {
    translate: 0 0;
  }
  100% {
    translate: 0 0.5rem;
  }
}

@keyframes gradient {
  0% {
    background-position-x: left;
  }
  50% {
    background-position-x: right;
  }
  100% {
    background-position-x: left;
  }
}
