.first {
  margin-bottom: 1px;
  position: relative;
  animation: pop-up 0.5s ease-in-out;
  min-height: calc(100vh - 4rem);

  & > div {
    padding: 0 1rem;
    width: min(100%, 50rem);
    position: absolute;
    top: calc(50% - 6rem);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
      margin: 0;
      margin-bottom: 2rem;
      font-family: "Lato", sans-serif;
      font-size: 3.5rem;
      letter-spacing: -0.5px;
      background: linear-gradient(45deg, #21d4fd, #b721ff);
      background-size: 200% auto;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradient 5s ease-in-out infinite;

      &::selection {
        -webkit-text-fill-color: white;
        color: white;
        background: var(--main-color);
      }

      & + p {
        font-size: 1.1rem;
        margin-bottom: 2rem;
      }
    }

    p {
      line-height: 130%;
    }

    svg {
      display: block;
      cursor: pointer;
      margin: 0.5rem auto 0 auto;
      font-size: 1.5rem;
      animation: shake 1s ease-in-out infinite;
    }

    .action {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 1.5rem;
    }
  }
}

@keyframes pop-up {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes gradient {
  0% {
    background-position-x: left;
  }
  50% {
    background-position-x: right;
  }
  100% {
    background-position-x: left;
  }
}
