.second {
  transform: translateZ(0);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background: radial-gradient(
    100% 126.56% at 0% 0%,
    #7f60ff 32.29%,
    #e0acff 100%
  );
  color: white;
  scroll-margin: 4rem;
  min-height: calc(100vh - 4rem);
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    opacity: 0;
    width: min(100%, 70rem);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
    place-items: center;

    .content__first {
      grid-column: 1 / 4;

      h1 {
        font-size: 3rem;
        margin-top: 0;
      }

      .content__first-list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        li {
          background-color: rgba($color: white, $alpha: 0.05);
          padding: 1.5rem;
          border-radius: 1.5rem;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          font-size: 1.1rem;
          transition: background-color 0.25s ease-in-out;

          span:first-child {
            font-size: 1.3rem;
          }

          &:hover {
            background-color: rgba($color: white, $alpha: 0.1);
          }

          svg {
            margin-right: 0.5rem;
          }
        }

        .focus,
        .focus:hover {
          background-color: rgba($color: white, $alpha: 0.15);
        }
      }
    }

    .content__second {
      grid-column: 4 / 6;
      &.pop {
        animation: pop-up 0.5s ease-in-out;
      }
    }
  }
}

@keyframes pop-up {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 866px) {
  .second {
    // padding-top: 2rem;
    .content {
      grid-template-columns: 1fr;

      .content__first,
      .content__second {
        grid-column: unset;
      }
    }
  }
}
