.backdrop {
  position: fixed;
  inset: 0;
  z-index: 7;
  backdrop-filter: blur(0.5rem);
  background-color: rgba(0, 0, 0, 0.25);

  &.open {
    animation: fade-in 0.25s ease-in-out forwards;
  }

  &.close {
    animation: fade-out 0.25s ease-in-out forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
