.item {
  cursor: pointer;
  animation: pop-in 0.25s ease-in-out forwards;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.025);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.05);
  padding: 0.5rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 3px;
    }

    .action button {
      margin-right: 0.5rem;
    }
  }

  .description {
    border-radius: 0.75rem;
    padding: 1rem;
    width: 100%;
    background-color: rgba($color: black, $alpha: 0.025);
  }

  .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: var(--color-light);
    transition: width 1s ease-in-out;
  }
}

.close {
  animation: pop-out 0.25s ease-in-out forwards;
}

@keyframes pop-in {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pop-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(50%);
    opacity: 0;
  }
}
