.section {
  .dates {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;

    div {
      padding: 1rem;
      border-radius: 1rem;
      background-color: rgba($color: #000000, $alpha: 0.025);
      cursor: pointer;
    }
  }

  .action {
    text-align: right;
  }
}
