.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 10%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: saturate(180%) blur(0.5rem);
  z-index: 5;

  & > a {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav {
    color: var(--main-color);
    display: flex;
    gap: 1rem;
    align-items: center;

    div {
      transition: all 0.25s ease-in-out;
      padding: 5px 0;
      border-bottom: 1px solid transparent;
      &:hover,
      &:active,
      &.active {
        border-color: var(--color-light) !important;
      }
    }
  }
}
