.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 4rem;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: saturate(180%) blur(0.5rem);
  z-index: 5;

  & > a {
    svg {
      font-size: 1.25rem;
      margin-right: 0.5rem;
    }

    span {
      letter-spacing: 0.9;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      position: relative;
      transition: all 0.25s ease-in-out;
      padding: 5px 0;

      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: var(--color-light);
        position: absolute;
        border-radius: 2px;
        left: 0;
        top: 100%;
        transform: scaleX(0);
        transform-origin: 0%;
        transition: transform 0.25s ease-in-out;
      }

      &:hover::after,
      &.active::after {
        transform: scaleX(1);
      }
    }
  }
}
