@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --main-color: rgb(100, 115, 230);
  --color-light: rgb(145, 150, 255);
  --color-super-light: rgb(245, 245, 255);
  --color-low-opacity: rgba(145, 155, 235, 0.75);
  --color-super-low-opacity: rgba(200, 200, 230, 0.75);
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

  &::selection {
    color: white;
    background: rgb(75, 75, 75);
  }
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

#main {
  margin: 2rem auto;
  padding: 0 1rem;
  min-height: calc(100vh - 8rem);
  width: min(100%, 45rem);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font: inherit;
}

input,
textarea {
  resize: none;
  font: inherit;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline-offset: -1px;
  outline: 1px solid rgb(225, 225, 225);
  width: 100%;
  transition: all 0.25s ease-in-out;

  &:focus {
    outline-offset: -1.5px;
    outline: 3px solid rgba(0, 125, 250, 0.5);
  }
}

.loading-bar {
  position: fixed;
  height: 2px;
  top: 4rem;
  background-color: var(--color-low-opacity);
  animation: bar 1s ease-in-out infinite;
}

.loading-spinner {
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 5px solid #434343;
  border-color: #434343 transparent #434343 transparent;
  animation: spinner 1.25s ease-in-out infinite;
}

@keyframes bar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  @mixin buttons {
    color: var(--main-color);
    border: 1px solid var(--main-color);
    box-shadow: 3px 3px var(--color-low-opacity);
    transition: all 0.25s ease-in-out;
    padding: 0.6rem 0.7rem;
    border-radius: 0.5rem;
  }

  @include buttons;
  background-color: transparent;

  &:hover,
  &:active {
    box-shadow: 0 0 0.5rem var(--color-super-low-opacity);
    background-color: var(--color-super-light);
  }

  &-flat {
    @include buttons;
    color: white;
    background-color: var(--main-color);

    &[disabled] {
      background-color: rgba($color: black, $alpha: 0.05);
      color: rgba($color: black, $alpha: 0.5);
      border: none;
      box-shadow: none;
      pointer-events: none;
      cursor: auto;
    }

    &:hover,
    &:active {
      box-shadow: 0 0 0.5rem var(--color-low-opacity);
      background-color: var(--color-light);
      border-color: var(--color-light);
    }
  }
}
